<div class='container'>
	<app-game-controller (counterIncremented)="onIncrement($event)">
	</app-game-controller>
	
	<div class='row'>
		<div class='col-xs-12 col-sm-6'>
			<div class='row'>
				<h4>Odd Numbers</h4>
				<app-odd-container-component
				  [data-value]="odd">
				</app-odd-container-component>
			</div>
		</div>
		
		<div class='col-xs-12 col-sm-6'>
			<div class='row'>
			  <app-even-container-component
                [data-value]="even">
				  <div *ngFor="let d of even"
                    class='col-xs-2 col-sm-2 number-block'>
                      {{ d }}
                  </div>
			  </app-even-container-component>
			</div>
		</div>
	</div>
</div>