<div class='container'>
	<div class='row' style='margin-top:20px;'>
		<div class='col-xs-12'>
			<a href='https://www.udemy.com/the-complete-guide-to-angular-2' target='blank' class='list-group-item clearfix' >
				<div class='pull-left'>
					<h4 class='list-group-item-heading'>Angular Binding &amp; View Encapsulation</h4>
					<p class='list-group-item-text'>Section 5 (Components &amp; Databinding Deep Dive) exercise of Angular4 - The Complete Guide on udemy.com</p>
				</div>
				<span class='pull-right'>
					<img src='https://udemy-images.udemy.com/course/480x270/756150_c033_2.jpg'
						 alt='udemy' 
						 class='img-responsive' 
						 style='max-height: 75px' />
				</span>
			</a>
		</div>
	</div>
	
	<app-game-controller (counterIncremented)="onIncrement($event)"></app-game-controller>

	<div class='row'>

		<div class='col-xs-6'>

			<div class="panel panel-default">
				<div class="panel-heading">Odd Numbers</div>
				<div class="panel-body">

					<app-odd-container-component [data-value]="odd">
					</app-odd-container-component>

				</div>
			</div>
			
		  
		</div>

		<div class='col-xs-6'>

			<div class="panel panel-default">
				<div class="panel-heading">Even Numbers</div>
				<div class="panel-body">
					<app-even-container-component>
						<div *ngFor="let d of even"
							 class='col-xs-2 col-sm-2 number-block'>
							{{ d }}
						</div>
					</app-even-container-component>
				</div>
			</div>
			
		</div>

	</div>
</div>