<div class='container'>

  <div class='page-header'>
    <h4>Angular Binding &amp; View Encapsulation</h4>
  </div>

	<app-game-controller (counterIncremented)="onIncrement($event)"></app-game-controller>

	<div class='row'>

		<div class='col-xs-6'>

			<div class="panel panel-default">
				<div class="panel-heading">Odd Numbers</div>
				<div class="panel-body">

					<app-odd-container-component [data-value]="odd">
					</app-odd-container-component>

				</div>
			</div>

		</div>

		<div class='col-xs-6'>

			<div class="panel panel-default">
				<div class="panel-heading">Even Numbers</div>
				<div class="panel-body">
					<app-even-container-component>
						<div *ngFor="let d of even"
							 class='col-xs-2 col-sm-2 number-block'>
							{{ d }}
						</div>
					</app-even-container-component>
				</div>
			</div>

		</div>

	</div>

	<div class='list-group'>
		<a class='list-group-item' href='https://floresj4.github.io/'>
			<span class='glyphicon glyphicon-home'></span> &nbsp; floresj4.github.io</a>
		<a class='list-group-item' href='https://github.com/Floresj4/angular-binding-view-encapsulation'>
			<span class='glyphicon glyphicon-console'></span> &nbsp; https://github.com/Floresj4/angular-binding-view-encapsulation</a>
	</div>

</div>
