/* You can add global styles to this file, and also import other style files */
.number-block {
	color:#fff;
	border-radius:5px;
	border: 1px solid #269abc;
	background-color: #31b0d5;
	margin-right:5px;
	margin-bottom:5px;
	text-align:center;
	padding:2px 0;
}

.top-margin {
	margin-top:20px;
}